<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Pago</title>
    <link rel="stylesheet" href="~/styles.css">
</head>
<body>
    <div class="receipt-container">
        <!-- Encabezado del recibo -->
        <div class="header">
            <div class="header-left">
                <h2>Recibo de Pago</h2>
                <p class="date">Fecha: 29/Septiembre/2024</p>
            </div>
            <div class="header-right">
                <img src="~/icono2.png" alt="Logo de la Empresa" class="logo">
            </div>
        </div>

        <!-- Detalles del recibo -->
        <div class="receipt-details">
            <div class="detail-item">
                <strong>Número de Recibo:</strong> <p class="text-placeholder">01</p>
            </div>
            <div class="detail-item">
                <strong>Cantidad Recibida:</strong> <p class="text-placeholder">$500</p>
            </div>
            <div class="detail-item">
                <strong>Para el Pago de:</strong> <p class="text-placeholder">Temporada Juvenil</p>
            </div>
            <div class="detail-item">
                <strong>Recibido de:</strong> <p class="text-placeholder">Responsable</p>
            </div>
            <div class="detail-item">
                <strong>Recibido por:</strong> <p class="text-placeholder">Tesorero</p>
            </div>
            <div class="detail-item">
                <strong>Forma de Pago:</strong> <p class="text-placeholder">Efectivo</p>
            </div>
        </div>

        <!-- Pie de página del recibo -->
        <div class="footer">
            <p>Gracias por su preferencia.</p>
            <p> SportPay - correo: SportPayMx@gmail.com</p>
        </div>
    </div>
</body>
</html>
